{% extends "base.html" %}
{% block content %}

{% load static %}
<section class="module bg-dark-60 about-page-header" data-background="{% static "images/contactus.jpg" %}">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <h2 class="module-title font-alt">Contact Us</h2>
      </div>
    </div>
  </div>
</section>
<hr class="divider-w">
<section class="module" id="team">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <h2 class="module-title font-alt">Meet Our Team</h2>
        <div class="module-subtitle font-serif">이번 Project를 함께한 팀원들을 소개합니다.</div>
      </div>
    </div>
    <div class="row">
      <div class="mb-sm-20 wow fadeInUp col-sm-6 col-md-3">
        <div class="team-item">
            <div class="user-frame">
                <h3>김빛누리</h3>
                <p>부경대학교 IT융합응용공학과</p>
                <p>TEL : 010-8917-7344</p>
                <p>E-Mail : bnurik104@gmail.com</p>
            </div>
        </div>
      </div>
      <div class="mb-sm-20 wow fadeInUp col-sm-6 col-md-3">
        <div class="team-item">
            <div class="user-frame">
                <h3>이태경</h3>
                <p>부경대학교 IT융합응용공학과</p>
                <p>TEL : 010-8519-7202</p>
                <p>E-Mail : taegyeong7202@gmail.com</p>
            </div>
        </div>
      </div>
      <div class="mb-sm-20 wow fadeInUp col-sm-6 col-md-3">
        <div class="team-item">
            <div class="user-frame">
                <h3>석아영</h3>
                <p>부경대학교 IT융합응용공학과</p>
                <p>TEL : 010-2969-3799</p>
                <p>E-Mail : dkdudtl777@gmail.com</p>
            </div>
        </div>
      </div>
      <div class="mb-sm-20 wow fadeInUp col-sm-6 col-md-3">
        <div class="team-item">
            <div class="user-frame">
                <h3>조수화</h3>
                <p>부경대학교 IT융합응용공학과</p>
                <p>TEL : 010-3201-5015</p>
                <p>E-Mail : whwh412@pukyong.ac.kr</p>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %}

